@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Zen Dots";
    color: white;
    /* outline: 1px solid white; */
}
body {
    background-color: rgb(5, 6, 71);
}
h1 {
    color: white;
    font-size: 4rem;
    position: relative;
    top: 30px;
    text-shadow: -2px 2px 2px rgb(50, 50, 250);

}
.logo {
    width: 100px;
    box-shadow: -5px 5px 10px rgb(50, 50, 250);
    position: absolute;
    left: 10px;
    top: 10px;
}
.logo:hover {
    box-shadow: none;
    cursor: pointer;
}
@media (max-width: 800px) {
    .logo {
        display: none;
    }
    .col-lg-6 {
        margin-bottom: 20px;
    }
}
/* for index.html */
/* Body */
.HorT {
    margin: 0;
    margin-top: 100px;
}
.heads, .tails, .bat, .bowl {
    margin-bottom: 20px;
}
.BorB {
    margin: 0;      /*to remove horizontal scrolling*/
    display: none;
}
.content {
    color: white;
    margin-bottom: 50px;
}
.lostResult {
    display: none;
}
.LRcontent {
    color: white;
}



/* firstbat */
.firstbat {
    display: none;
}
.numbers {
    margin-top: 50px;
}
.numbers a, .one {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    padding: 5px;
    display: inline-block;
    text-align: center;
    border-radius: 15%;
}
.numbers a:hover, .one:hover{
    background-color: white;
    color:rgb(5, 6, 71);
    cursor: pointer;
}

.you, .comp {
    position: relative;
    /* outline: 1px solid white; */
}
/* .youm, .compm {
    display: none;
} */
.you {
    right: 2%;
}
.comp {
    left: 4%;
}
@media (max-width: 800px) {
    .numbers a , .one{
        margin-left: 15px;
        margin-right: 15px;
    }
    .secondhalf {
        display: inline-block;
        margin-top: 30px;
    }
    .you {
        right: 20px;
    }
    .comp {
        left: 52px;
    }
}
.yourscore, .opponentscore{
    display: inline-block;
    height: 100px;
    width: 100px;
    /* padding: 5px; */
    color: white;
    margin: 10px 20px;
    background-color: white;
}
.yourscore img , .opponentscore img{
    outline: 1px solid white;
    padding: 5px;
    height: 100px;
    width: 100px;
}
.out {
    display: none;
}
#nextinningscontinue {
    display: none;
}



/* first bowl */
.firstbowl {
    margin-top: 50px;
    display: none;
}